<div class="row">
    <div class="col-md-12">
        <form action="/" method="POST">
          <h1>URL</h1>
          <div class="form-group">
            <input type="url" name="longURL" value="" placeholder="https://example.com" id="url" required/>
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-primary">Shorten</button>
          </div>
        </form>
    </div>
</div>